Estimado/a {{ user.formatted_name }},<br>
<br>
Se ha añadido un nuevo correo electrónico ({{ email_address }}) a tu cuenta.<br>
<br>
Visita tu perfil para comprobar todos los correos electrónicos que se encuentran asociados con tu cuenta:<br>
<a href="{{ profile_link }}">{{ profile_link }}</a><br>
<br>
Atentamente,<br>
<strong>{{ brand.name }}</strong>