{{ operator.formatted_name }} ha publicado una nueva respuesta al ticket #{{ ticket.number }}. Puedes seguir este ticket dirigiéndote a:<br>
<a href="{{ ticket.operator_url }}">{{ ticket.operator_url }}</a>
{% for message in ticket.messages.where('is_draft', 0).reverse().take(5) %}
    <hr style="border:0;border-bottom:1px solid #e9e9e9;margin:25px 0;">
    {% if message.type == 0 %}
        <table style="border-collapse:collapse;width:100%;">
            <tbody>
                <tr>
                    <td style="padding-right:15px;vertical-align:top;width:48px;">
                        <img src="{{ message.user.avatar_url }}" style="border-radius:99px;height:48px;width:48px;" alt="">
                    </td>
                    <td>
                        <div style="line-height:24px;font-size:130%;">
                            {% if message.isByOperator() %}
                                <strong style="color:#c0392b;">{{ message.user.formatted_name }}</strong>
                            {% else %}
                                <strong style="color:#27ae60;">{{ message.user.formatted_name }}</strong>
                            {% endif %}
                        </div>
                        <div style="color:#999;line-height:24px;">
                            {% if message.isByOperator() %}
                                Personal
                            {% else %}
                                Usuario
                            {% endif %}
                            - {{ formatDate(message.created_at) }}
                        </div>
                        <br>
                        {{ message.purified_text|raw }}
                        {% if not message.attachments.isEmpty() %}
                            <div style="padding-top:15px;">
                                <span style="color:#999;font-size:12px;text-transform:uppercase;">Adjuntos</span>
                                {% for attachment in message.attachments %}
                                    <div style="background:#f5f5f5;margin-top: 2px;padding:5px 12px;">
                                        <a href='{{ attachment.operator_url }}'>{{ attachment.original_name }}</a>
                                        &nbsp;<span style="color:#999;">({{ attachment.upload.size }})</span>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    {% elseif message.type == 1 %}
        <table style="background:#fcf9e5;border-left:2px solid #f7df7a;border-collapse:collapse;width:100%;">
            <tbody>
                <tr>
                    <td style="padding-right:15px;padding-top:10px;vertical-align:top;width:48px;">
                        <img src="{{ message.user.avatar_url }}" style="border-radius:99px;height:48px;width:48px;" alt="">
                    </td>
                    <td style="padding:10px 0 12px;">
                        <div style="line-height:24px;font-size:130%;">
                            <strong style="color:#c0392b;">{{ message.user.formatted_name }}</strong>
                        </div>
                        <div style="color:#999;line-height:24px;">
                            Personal (Nota) - {{ formatDate(message.created_at) }}
                        </div>
                        <br>
                        {{ message.purified_text|raw }}
                        {% if not message.attachments.isEmpty() %}
                            <div style="padding-top:15px;">
                                <span style="color:#999;font-size:12px;text-transform:uppercase;">Adjuntos</span>
                                {% for attachment in message.attachments %}
                                    <div style="background:#f5f5f5;margin-top: 2px;padding:5px 12px;">
                                        <a href='{{ attachment.operator_url }}'>{{ attachment.original_name }}</a>
                                        &nbsp;<span style="color:#999;">({{ attachment.upload.size }})</span>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <table style="background:#ece2f9;border-left:2px solid #c293e6;border-collapse:collapse;width:100%;">
            <tbody>
                <tr>
                    <td style="padding-right:15px;padding-top:10px;vertical-align:top;width:48px;">
                        <img src="{{ message.user.avatar_url }}" style="border-radius:99px;height:48px;width:48px;" alt="">
                    </td>
                    <td style="padding:10px 0 12px;">
                        <div style="line-height:24px;font-size:130%;">
                            <strong style="color:#c0392b;">{{ message.user.formatted_name }}</strong>
                        </div>
                        <div style="color:#999;line-height:24px;">
                            {% set to_address = message.extra.to_address|default is not empty ? message.extra.to_address : [] %}
                            {% set cc_address = message.extra.cc_address|default is not empty ? message.extra.cc_address : [] %}
                            {% set bcc_address = message.extra.bcc_address|default is not empty ? message.extra.bcc_address : [] %}
                            Reenviado a {{ implode(', ', to_address|merge(cc_address)|merge(bcc_address)) }} - {{ formatDate(message.created_at) }}
                        </div>
                        <br>
                        {{ message.purified_text|raw }}
                        {% if not message.attachments.isEmpty() %}
                            <div style="padding-top:15px;">
                                <span style="color:#999;font-size:12px;text-transform:uppercase;">Adjuntos</span>
                                {% for attachment in message.attachments %}
                                    <div style="background:#f5f5f5;margin-top: 2px;padding:5px 12px;">
                                        <a href='{{ attachment.operator_url }}'>{{ attachment.original_name }}</a>
                                        &nbsp;<span style="color:#999;">({{ attachment.upload.size }})</span>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
{% endfor %}
<hr style="border:0;border-bottom:1px solid #e9e9e9;margin:25px 0;">
<h3>Detalles del ticket</h3>
<strong>Ticket #:</strong> {{ ticket.number }}<br>
{% if ticket.user.formatted_name is not empty %}
    <strong>Usuario:</strong> {{ ticket.user.formatted_name }} ({{ ticket.user.email }})<br>
{% endif %}
<strong>Asunto:</strong> {{ ticket.subject }}<br>
<strong>Departamento:</strong> {{ ticket.department.name }}<br>
<strong>Estado:</strong> {{ ticket.status.name }}<br>
<strong>Prioridad:</strong> {{ ticket.priority.name }}<br>
<br>
Puedes seguir este ticket dirigiéndote a:<br>
<a href="{{ ticket.operator_url }}">{{ ticket.operator_url }}</a>