Estimado/a {{ user.formatted_name }},<br>
<br>
{{ owner.formatted_name }} te ha creado una cuenta en nuestro help desk de asistencia. Tendrás acceso a los tickets abiertos por {{ owner.formatted_name }}. Para finalizar el proceso de activación, por favor, verifica tu correo electrónico haciendo clic en el enlace a continuación:<br>
<a href="{{ verification_link }}">{{ verification_link }}</a><br>
<br>
Este enlace será valido durante las próximas 24 horas. Si no activas tu cuenta a tiempo, puedes volver a registrarte en el help desk.<br>
<br>
Atentamente,<br>
<strong>{{ brand.name }}</strong>